.proj-container{
	max-width:1200px;
	margin:0 auto;

	img {
		width:100%;
	}

	.img-box {
		background-size: cover;
		padding-bottom: 56%;
	}
}

.header{

	text-align:center;
	margin-bottom:2em;
	padding:0 10px;
	
	h1{
		font-size:40px;
		line-height:1.2;
		margin:-8px 0 0;
		font-family:@body;
		font-weight:200;

		@media @mobile{
			font-size:35px;
		}
	}

	span{
		font-family:Sanchez;
		color:red;
		letter-spacing:1px;
		font-size:16px;
	}

	.deck{
		max-width:550px;
		margin:0 auto 1em;
		font-size:19px;
		border-bottom:1px solid #ccc;
		padding-bottom:1em;

		@media @mobile{
			font-size:16px;
		}
	}

	.other{
		margin-top:20px;
		font-size:13px;
		font-family:@block-graphics;

		a{
			color:#b30000;
			text-decoration:underline;
		}
	}

	@media @mobile{
		margin-bottom:1em;
	}
}

#best-projects{
	.display-flex;
	.flex-wrap(wrap);
	margin-bottom:2em;

	@media @mobile{
		margin-bottom:0;
	}
}

.title{
	margin-top:8px;
	text-align:left;
	padding:0;
	line-height:1.2;
	color:#333;
}
.best-proj{
	.flex(0 0 33%);
	padding:10px;
	margin-bottom:1em;

	.img{
		position: relative;
	}

	img{
		left: 50%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
	}

	@media @tablet{
		.flex(0 0 50%);
	}

	@media @mobile{
		.flex(0 0 100%);
	}

	.title{
		font-size:20px;

		@media @tablet{
			font-size:16px;
		}
	}
}

.quiz-wrapper {
	margin: 30px auto;

	.title{
		margin-top:5px;
	}

	#best-projects {
		margin-bottom: 0;
	}

	&.proj-container .header img {
		max-width: 700px;
	}

	h2 {
		padding: 0 10px;
  	margin-bottom: 0;
  	font-size: 28px;

  	@media @mobile {
  		font-size: 20px;
  	}
	}

	.quiz-byline {
		font-size: 14px;

		@media @mobile {
  		font-size: 11px;
  	}
	}

	.quiz-department {
		font-family: @block-graphics;
    color: @redbold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 10px;
    letter-spacing: 1px;

    @media @mobile {
    	font-size: 11px;
    }
	}
}

#projects, .quiz-section {
	.display-flex;
	.flex-wrap(wrap);
}

.section-wrapper {
	border-top: 1px solid #ccc;
}

.proj{
	.flex(0 0 25%);
	padding:10px;
	margin-bottom:1em;

	@media @tablet{
		.flex(0 0 33%);
	}

	@media @mobile{
		.flex(0 0 50%);
	}

	.title{
		font-size:18px;

		@media @tablet{
			font-size:14px;
		}
	}
}